fundementals.logicapps/Lab-flowcontrol/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_lab_flowcontrol_name": {
            "defaultValue": "lab-flowcontrol",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_lab_flowcontrol_name')]",
            "location": "uksouth",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "endTime": "",
                                "frequency": "Day",
                                "interval": 3,
                                "timeZone": "Dateline Standard Time"
                            },
                            "metadata": {},
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "CreateJsonArray": {
                            "runAfter": {},
                            "trackedProperties": {},
                            "metadata": {},
                            "type": "Compose",
                            "inputs": {
                                "messages": [
                                    {
                                        "id": "53aa43cc-4472-4af2-8a4b-46bfa76b6c06",
                                        "personalDetails": {
                                            "address": {
                                                "address": "13 Some Street",
                                                "postCode": "LS5 3PQ"
                                            },
                                            "contact": {
                                                "email": "someguy@googlemail.com",
                                                "phoneNumber": "",
                                                "preferredContact": "email"
                                            },
                                            "name": {
                                                "firstName": "Hue",
                                                "lastName": "Jass"
                                            },
                                            "requireReceipt": true
                                        },
                                        "receiveEmailSummary": true
                                    },
                                    {
                                        "id": "99cc43cc-4472-4af2-8a4b-46bfa76b6c06",
                                        "personalDetails": {
                                            "address": {
                                                "address": "14 Some Street",
                                                "postCode": "LS12 3XF"
                                            },
                                            "contact": {
                                                "email": "someguy@googlemail.com",
                                                "phoneNumber": "123455678",
                                                "preferredContact": "phone"
                                            },
                                            "name": {
                                                "firstName": "George",
                                                "lastName": "Washington"
                                            },
                                            "requireReceipt": true
                                        },
                                        "receiveEmailSummary": true
                                    },
                                    {
                                        "id": "99cc43cc-4472-4af2-8a4b-46bfa76b6c06",
                                        "personalDetails": {
                                            "address": {
                                                "address": "33 Some Street",
                                                "postCode": "LS5 3XS"
                                            },
                                            "contact": {
                                                "email": "someotherguy@googlemail.com",
                                                "phoneNumber": "077777777777",
                                                "preferredContact": "email"
                                            },
                                            "name": {
                                                "firstName": "Ben",
                                                "lastName": "Stiller"
                                            },
                                            "requireReceipt": false
                                        },
                                        "receiveEmailSummary": true
                                    }
                                ]
                            },
                            "description": "Creates some test data for the demo"
                        },
                        "IterateThroughMessages": {
                            "foreach": "@outputs('CreateJsonArray').messages",
                            "actions": {
                                "receiptCondition": {
                                    "actions": {
                                        "Switch": {
                                            "runAfter": {},
                                            "cases": {
                                                "Case": {
                                                    "case": "email",
                                                    "actions": {}
                                                },
                                                "Case_2": {
                                                    "case": "phone",
                                                    "actions": {}
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@items('IterateThroughMessages').personalDetails.contact.preferredContact",
                                            "type": "Switch"
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('IterateThroughMessages').personalDetails.requireReceipt",
                                                    false
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "CreateJsonArray": [
                                    "Succeeded"
                                ]
                            },
                            "trackedProperties": {},
                            "metadata": {},
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}